body{
    background-color: rgba(255, 255, 255, 0.756);
    padding: 0px;
    margin: 0px;
}

.grid{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 30px;
    justify-content: flex-start;
    scrollbar-width: none;
    -ms-overflow-style: none;
  
}

.grid::-webkit-scrollbar {
    display: none;
}

.grid img {
    width: 1200px;
    height: auto;
    
}
