/* RESET */
body {
    margin: 0;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #222;
}


header {
    background-color: rgb(215, 215, 215);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid #c9c9c9;
}

.img-container img {
    width: 100px;
    margin-top: 55px;
}

.btn-bewerk {
    color: #fff;
    background-color: #247065;
    padding: 10px 16px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
}

.btn-bewerk:hover {
    background-color: #194e46;
}



.bewerk_container {
    background: white;
    border-radius: 10px;
    padding: 25px;
    width: 750px;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.08) 0 4px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bewerk_container h1 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
}


.form-control {
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    padding: 8px 10px;
    height: auto;
    font-size: 15px;
    max-width: 750px;
   
}

.form-control:focus {
    border-color: #247065;
    outline: none;
    box-shadow: 0 0 0 2px rgba(36, 112, 101, 0.3);
}

.img {
    width: 300px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.hotspot-box {
    border: 1px solid #d5d5d5;
    background: #fafafa;
    padding: 15px 15px 5px 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}



.ops-btn {
    background: #247065;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 10px;
    display: inline-block;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: 0.25s ease-in-out;
}

.ops-btn:hover {
    background: #1b5148;
}



.container {
    background: white;
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 4px 10px;
}

.container h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 26px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-bottom: none;
}

.table thead {
    background: #247065;
    color: white;
    
}

.table thead tr:hover {
    background: #1f5f55ff;
}

.table th,
.table td {
    padding: 12px 10px;

    text-align: left;
    vertical-align: middle;
}

.line{
     border-bottom: 1px solid #e6e6e6;

 }



.table tr:hover {
    background: #f6faf9;
    transition: 0.2s ease-in-out;
}


.table .img {
    width: 175px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px;
}

.table td.btn {
    display: flex;
    gap: 8px;
    margin-top: 35px;
}

